@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    background: white;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style-type: none;
}

h2, h3, h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

.btn-main, .btn-light, .btn-dark {
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.btn-main {
    color: #fff;
    background-color: #4fbeff
}

.btn-light {
    color: #333;
    background-color: #f4f4f4;
}

.btn-dark {
    color: #fff;
    background-color: #4fbeff
}

.btn-size {
    border: 2px solid black;
}

button[class ^="btn-"]:hover, a[class^="btn-"]:hover, input[class^="btn-"]:hover {
    background-color: #4fbeff;
}



.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    /* overflow: hidden; */
}

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#main-nav ul {
    display: flex;
    
}

#main-nav li {
    padding: 1rem 1.5rem;
}

#main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
}

#main-nav a:hover {
    border-color: #cbdae7;
}

#main-nav a.current {
    border-color: #4fbeff;
}

#header-home {
    
    background: url("../img/programming.png") no-repeat center right/cover;
   
    height: 100vh;
    color: #fff;
    box-shadow: 10px, 10px, 5px, -10px #333;
}

#header-home .header-content {
    text-align: center;
    /* padding-top: 20%; */
   transform:translate(-3em, 12em); 
}

#header-home .header-content h1 {
    line-height: 1.2;
    font-size: 4rem;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#logo {
    text-transform: uppercase;
}

/* Timeline css*/

.timeline ul{
    background: #364A62;
    padding: 50px 0;
    color: #fff;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: black;
    
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: black;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent black transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent black;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    
  }

  
  

/* EFFECTS for timeline
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}
/* Change the circle to white */
.timeline ul li.in-view::after {
  background: #fff;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
/* Skills */
#skills {
    padding: 50px 15px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* .section-title-a {
    
} */

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1em;
}

#projects {
    height: auto;
    margin: 5rem 10rem;
}

#projects h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3em;
}

#projects .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

#projects .projects-grid .style {
    position: relative;
    transition: all 0.2;
}

#projects .projects-grid .style:hover {
    transform: scale(1.05);
}

#projects .projects-grid .style:hover > .content {
    opacity: 1;
}

#projects .projects-grid .style:hover > a img {
    filter: blur(3px) grayscale(20%);
}

#projects .projects-grid .style .content {
    display: block;
    opacity: 0;
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease ease-in-out;
    color: #333;
    background-color: rgba(#225, #225,#225, 0.616);
    padding-bottom: 1rem;
}

#main-footer {
    background: #D3D3D3;
    font-family: "Saira Semi Condensed", sans-serif;
    transition: all 0.5s ease;
    /* width: 100%; */
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

form  {
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
form div,
form label,
form input,
form textarea {
  width: 100%;
}

.field:nth-of-type(2) {
    margin: 16px 0;
  }
  
label,
input,
textarea {
  padding: 8px;
}

label,
[placeholder] {
  color: #555;
}

label i {
    margin: 0 10px 0 0;
  }
  
  .field:focus-within label {
    color: #000;
    letter-spacing: 2px;
  }

  input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}

input:focus,
textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
    resize: none;
  }

  textarea::-webkit-scrollbar {
    width: 0;
  }

  button {
    background: #2f4ad0;
    margin: 16px 0 50px 0;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #555;
  }

  button:hover {
    letter-spacing: 2px;
    box-shadow: none;
  }

  .social-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  :not(.social-media) {
    font-size: 14px;
  }

  .social-media span {
    font-size: 16px;
  }

  .social-media span .fas {
    margin: 0 0 0 10px;
  }

  .social-media a {
    color: #000;
    font-size: 20px;
  }

  .heading {
    padding:20px 5px;
    color: black;
    text-align: center;
    font-size: 1.8em;
    /* width: 100%; */
    
}
  

@media (max-width: 1024px) {
    #header-home {
        height: 30rem; }

    #header-home .header-content {
          padding-top: 5rem; }

    #home-b .stats {
        display: block; }

    #projects .container .projects-grid {
        display: block; }

    #projects .container .projects-grid .style {
          margin: 2rem 0; }

          form {
            width: 100%;
          }
}

@media (max-width: 500px) {
    #main-nav {
        flex-direction: column;
        align-items: center;
    }

    #main-nav li {
        padding: 1rem !important;
    }

    #logo {
        text-align: center;
        font-size: 2rem; }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center; }

    .header-content a {
          margin: 1rem;
          width: 30vw; }
          
    #header-home {
        height: 140vh; }

    #home-a {
        height: auto; }

    #home-a .specials {
          display: block; }

    #home-a .specials div {
            margin: 2rem 0; }

    #projects {
        margin: 0; }

    #main-footer {
        padding-top: 1rem;
        height: 8rem; }

    #main-footer .footer-content {
          display: block;
          text-align: center;
          overflow: visible; }

    #main-footer .footer-content .social {
            margin: 2rem 0; }

            form {
                width: 100%;
              }
}


